.storycard{
  margin-bottom: 20px;
}

.storycard .title span{
  font-weight: bold;
}

.tabs{
  margin-bottom: 10px;
}

.inner{
  max-width: 500px;
  margin: 0 auto;
}

.settings-menu>div>div{
  color: rgba(255, 255, 255, 0.94)!important;
}

.menuitem{
  color: rgba(0, 0, 0, 0.74)!important;
}

.pagination{
  margin: 0 auto;
  ;
}

.progress{
  position: relative;;
}

.loaded{
  display: none;
}

.commentTitle{
  font-weight: bold;
}
.searchbar{
  width: 200px;
  height: 50px;
  padding: 0px 10px 0px 10px;
  position: absolute;
  top: 6px;
  left: 60px;
}

.searchtitle{
  color:  rgba(255, 255, 255, 0.68);;
}

.searchtitle .return{
  color: white;
}

.commentCard{
  margin: 10px 0px 10px 0px;
}

.pager{
  position: absolute;
  top: 5px;
  right: 50px;
}

.pager *{
  color: white;
}

.loader{
  margin-top: -10px;
  margin-bottom: 10px;
}

.loading-comments{
  position: absolute;
  top: 3px;
  left: 140px;
}

@media (max-width: 408px) {
  .apptitle{
    display: none;
  }
}
