.storycard{
  margin-bottom: 20px;
}

.storycard .title span{
  font-weight: bold;
}

.tabs{
  margin-bottom: 10px;
}

.inner{
  max-width: 500px;
  margin: 0 auto;
}

.settings-menu>div>div{
  color: rgba(255, 255, 255, 0.94)!important;
}

.menuitem{
  color: rgba(0, 0, 0, 0.74)!important;
}

.pagination{
  margin: 0 auto;
  ;
}

.progress{
  position: relative;;
}

.loaded{
  display: none;
}
