.storycard{
  margin-bottom: 20px;
}

.storycard .title span{
  font-weight: bold;
}

.tabs{
  margin-bottom: 10px;
}

.inner{
  max-width: 500px;
  margin: 0 auto;
}

.settings-menu svg{
  color: rgba(255, 255, 255, 0.94)!important;
}
